name: test

on:
  push:
    branches:
      - master

env:
  PRIVATE_KEY: ${{ vars.PRIVATE_KEY }}
  TMP_SECRET: ${{ secrets.TMP_SECRET }}
  TMP_BASE64: ${{ secrets.TMP_BASE64 }}

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - run: echo 122333
      - run: echo $TMP_SECRET > direct_secret_env.txt
      - run: |
          echo "ENV_SECRET<<:" >> $GITHUB_ENV
          echo $TMP_SECRET >> $GITHUB_ENV
          echo ":" >> $GITHUB_ENV
      - run: echo $ENV_SECRET > env_secret_env.txt
      - run: echo $PRIVATE_KEY > key.txt
      - run: |
          echo "TMP_ENV<<:" >> $GITHUB_ENV
          echo $PRIVATE_KEY >> $GITHUB_ENV
          echo ":" >> $GITHUB_ENV
      - run: echo $TMP_BASE64 | base64 -d > direct_base64.txt
      - run: |
          echo "ENV_BASE64<<:" >> $GITHUB_ENV
          echo $TMP_BASE64 | base64 -d >> $GITHUB_ENV
          echo ":" >> $GITHUB_ENV
      - run: echo $ENV_BASE64 > env_base64.txt
      - run: echo $TMP_ENV > env.txt
      - uses: actions/upload-artifact@v3
        with:
          name: tmp_env
          path: |
            key.txt
            env.txt
            env_secret_env.txt
            direct_secret_env.txt
            env_base64.txt
            direct_base64.txt

  condition_test:
    runs-on: ubuntu-22.04
    steps:
      - run: echo "APP_ENV=itg" >> $GITHUB_ENV
      - run: echo success
        if: env.APP_ENV == "itg"